html, body{
  width: 100%;
  height: 100vh;
}
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #98A2B3;
  border-radius: 12px;
}
